.search-form {
  position: fixed;
  z-index: 2;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  background-color: #b5cdee;
  width: 100%;
  height: 50px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 0.8),
    23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

input {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
  height: 70%;

  color: #000000;
  background-color: #ffffff;
  border-color: #ffffff;
  border-radius: 10px;
  border-width: 1px;
  outline: none;
}

input::placeholder {
  color: #d3d3d3;
  font-size: 0.9em;
  text-align: center;
}

input:focus {
  border-color: #065d97;
}

.search-btn {
  margin-left: 20px;
  min-width: 60px;
  height: 70%;

  font-size: 14px;
  background-color: #ffffff;
  color: #000000;
  border-color: #ffffff;
  border-radius: 10px;
  border-width: 1px;
  outline: none;
}

.search-btn:hover {
  border-color: #065d97;
}